<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBImageGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E68D65661E9F7CF900F66A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68D657F1E9F7CF900F66A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68D658A1E9F7CF900F66A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
